<h2>Your posts, {{dashboardData.username}}:</h2>
<br>

{{#each dashboardData.posts as |post|}}
  <div class="card shadow p-3 mb-5 bg-body rounded" style="">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle mb-2 text-muted">Posted on: {{formatDate created_on}}</h6>
      <p class="card-text">{{post_content}}</p>
      <a href="/post/{{id}}" class="card-link">Comment</a>
      <a href="/post/{{id}}" class="card-link">See post</a>
    </div>
  </div>
  {{/each}}
  {{!-- <br>
  <h2>Your comments:</h2>
      {{#each dashboardData.comments as |comment|}}
      <div class="card" style="">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Comment written on: {{formatDate created_on}}</h6>
        <p class="card-text">{{comment_content}}</p>
      </div>
      </div>
      <br>
    {{/each}} --}}